name: developer_tools_get
description: "A package for getting developer tools."
version: 0.0.1

resolution: workspace

environment:
  sdk: ^3.7.0
  

dependencies:
  flutter:
    sdk: flutter

  get: ^4.7.3
  
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
