name: developer_tools_core
description: "Core package for developer_tools."
version: 0.0.1

resolution: workspace

environment:
  sdk: ^3.7.0
  

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
